<div class='header'>
  <%= image_tag 'myStackLogo.png', class:'logo' %>
</div>

<div id='app-messages' data-id=<%=current_user.id%> data-url=<%=@msg_url%> data-socket=<%=@socket_url%> data-ghimage=<%=asset_url('octoCat.png')%>></div>